.selectinput_container {
    position: relative;
}

.options {
    position: absolute;
    width: 100%;
    max-height: 300px;
    top: calc(100% - .6rem);
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: 1px solid var(--grey100);
    border-radius: 5px;
    list-style: none;
    z-index: 2;
    overflow-y: auto;
    transition: all .35s ease;
}

.option {
    text-transform: capitalize;
    padding: .6rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.option:hover {
    background-color: var(--grey50);
}

.option:last-child {
    margin-bottom: 0;
}

.option.no-select {
    cursor: default;
}

.option.no-select:hover {
    background-color: transparent;
}